Options +FollowSymlinks
RewriteEngine on

RewriteRule ^config$ config.php
RewriteRule ^configBD$ BD.php
RewriteRule ^CrossSite$ cross.php
RewriteRule ^noticia$ noticia.php
RewriteRule ^formulario$ formulario.php
