<head>	

    <title><?php echo TITULO_DE_LA_PAGINA; ?></title>

    <!-- BOOTSTRAP CSS -->
	<link rel="stylesheet" href="../statics/css/bootstrap.min.css">


	<!-- INCLUSION DE ESTILOS -->
	<?php 
		include('statics/style_colores.html'); //Colocar CSS de la pagina (De colores)

		include('statics/style_letras.html'); //Colocar CSS de la pagina (De letras)
	?>

	<!-- JQUERY JS -->
	<script src="../statics/js/jquery.min.js"></script>
	
	<!-- BOOTSTRAP JS -->
	<script src="../statics/js/bootstrap.min.js"></script>


	<!-- INCLUSION DE JAVASCRIPTS -->
	<?php 
		include('statics/behave_index.html'); //Colocar JS de la pagina
	?>

</head>