<h2>Configuración de colores</h2>

<div class="row">
  <div class="col-md-2"></div>
  <label class="col-md-2 control-label" for="colorpickerField1">Letras del Párrafo:</label>
  <div class="col-md-2">
    <input class="form-control" type="text" maxlength="6" size="6" id="colorpickerField1"/>
  </div>
  <label class="col-md-2 control-label" for="colorpickerField2">Letra de Lista:</label>
  <div class="col-md-2">
    <input class="form-control" type="text" maxlength="6" size="6" id="colorpickerField2" value="" />
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <label class="col-md-2 control-label m-top" for="colorpickerField3">Fondo de Lista:</label>
  <div class="col-md-2 m-top">
    <input class="form-control" type="text" maxlength="6" size="6" id="colorpickerField3" value="" />
  </div>
  <label class="col-md-2 control-label m-top" for="colorpickerField4">Letra de Links:</label>
  <div class="col-md-2 m-top">
    <input class="form-control" type="text" maxlength="6" size="6" id="colorpickerField4" value="" />
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <label class="col-md-2 control-label m-top" for="colorpickerField5">Links Hover:</label>
  <div class="col-md-2 m-top">
    <input class="form-control" type="text" maxlength="6" size="6" id="colorpickerField5" value="" />
  </div>
  <label class="col-md-2 control-label m-top" for="colorpickerField6">Letra de Links Hover:</label>
  <div class="col-md-2 m-top">
    <input class="form-control" type="text" maxlength="6" size="6" id="colorpickerField6" value="" />
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <label class="col-md-2 control-label m-top" for="colorpickerField7">Letra de Lista Hover:</label>
  <div class="col-md-2 m-top">
    <input class="form-control" type="text" maxlength="6" size="6" id="colorpickerField7" value="" />
  </div>
  <label class="col-md-2 control-label m-top" for="colorpickerField8">Letra Boton:</label>
  <div class="col-md-2 m-top">
    <input class="form-control" type="text" maxlength="6" size="6" id="colorpickerField8" value="" />
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <label class="col-md-2 control-label m-top" for="colorpickerField9">Fondo Botón:</label>
  <div class="col-md-2 m-top">
    <input class="form-control" type="text" maxlength="6" size="6" id="colorpickerField9" value="" />
  </div>
  <label class="col-md-2 control-label m-top" for="colorpickerField10">Letra Botón Hover:</label>
  <div class="col-md-2 m-top">
    <input class="form-control" type="text" maxlength="6" size="6" id="colorpickerField10" value="" />
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <label class="col-md-2 control-label m-top" for="colorpickerField11">Fondo Botón Hvover:</label>
  <div class="col-md-2 m-top">
    <input class="form-control" type="text" maxlength="6" size="6" id="colorpickerField11" value="" />
  </div>
  <label class="col-md-2 control-label m-top" for="colorpickerField12">Letra Header:</label>
  <div class="col-md-2 m-top">
    <input class="form-control" type="text" maxlength="6" size="6" id="colorpickerField12" value="" />
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <label class="col-md-2 control-label m-top" for="colorpickerField13">Letra Label:</label>
  <div class="col-md-2 m-top">
    <input class="form-control" type="text" maxlength="6" size="6" id="colorpickerField13" value="" />
  </div>
  <label class="col-md-2 control-label m-top" for="colorpickerField14">Letra Textarea:</label>
  <div class="col-md-2 m-top">
    <input class="form-control" type="text" maxlength="6" size="6" id="colorpickerField14" value="" />
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <label class="col-md-2 control-label m-top" for="colorpickerField15">Fondo Textarea:</label>
  <div class="col-md-2 m-top">
    <input class="form-control" type="text" maxlength="6" size="6" id="colorpickerField15" value="" />
  </div>
  <label class="col-md-2 control-label m-top" for="colorpickerField16">Letra Input:</label>
  <div class="col-md-2 m-top">
    <input class="form-control" type="text" maxlength="6" size="6" id="colorpickerField16" value="" />
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <label class="col-md-2 control-label m-top" for="colorpickerField17">Fondo Input:</label>
  <div class="col-md-2 m-top">
    <input class="form-control" type="text" maxlength="6" size="6" id="colorpickerField17" value="" />
  </div>
  <label class="col-md-2 control-label m-top" for="colorpickerField18">Fondo Menú Derecho:</label>
  <div class="col-md-2 m-top">
    <input class="form-control" type="text" maxlength="6" size="6" id="colorpickerField18" value="" />
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <label class="col-md-2 control-label m-top" for="colorpickerField19">Fondo Menú Izquierdo:</label>
  <div class="col-md-2 m-top">
    <input class="form-control" type="text" maxlength="6" size="6" id="colorpickerField19" value="" />
  </div>
  <label class="col-md-2 control-label m-top" for="colorpickerField20">Container:</label>
  <div class="col-md-2 m-top">
    <input class="form-control" type="text" maxlength="6" size="6" id="colorpickerField20" value="" />
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <label class="col-md-2 control-label m-top" for="colorpickerField21">Navbar:</label>
  <div class="col-md-2 m-top">
    <input class="form-control" type="text" maxlength="6" size="6" id="colorpickerField21" value="" />
  </div>
  <label class="col-md-2 control-label m-top" for="colorpickerField22">Active Link:</label>
  <div class="col-md-2 m-top">
    <input class="form-control" type="text" maxlength="6" size="6" id="colorpickerField22" value="" />
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row m-bot">
  <div class="col-md-4"></div>
  <label class="col-md-2 control-label m-top" for="colorpickerField23">Background:</label>
  <div class="col-md-2 m-top">
    <input class="form-control" type="text" maxlength="6" size="6" id="colorpickerField23" value="" />
  </div>
  <div class="col-md-4"></div>
</div>
