<h2>Configuración de tamaños</h2>

<div class="row">
  <div class="col-md-2"></div>
    <label class="col-md-2 control-label m-top" for="size1">Letra del Párrafo:</label>
  <div class="col-md-2 m-top">
    <input class="form-control" type="text" maxlength="6" size="6" id="size1" value="" />
  </div>
  <label class="col-md-2 control-label m-top" for="size2">Letra Link:</label>
  <div class="col-md-2 m-top">
    <input class="form-control" type="text" maxlength="6" size="6" id="size2" value="" />
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <label class="col-md-2 control-label m-top" for="size3">Letra Label:</label>
  <div class="col-md-2 m-top">
    <input class="form-control" type="text" maxlength="6" size="6" id="size3" value="" />
  </div>
  <label class="col-md-2 control-label m-top" for="size4">Letra Lista:</label>
  <div class="col-md-2 m-top">
    <input class="form-control" type="text" maxlength="6" size="6" id="size4" value="" />
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <label class="col-md-2 control-label m-top" for="size5">Letra Input:</label>
  <div class="col-md-2 m-top">
    <input class="form-control" type="text" maxlength="6" size="6" id="size5" value="" />
  </div>
  <label class="col-md-2 control-label m-top" for="size6">Letra Textarea:</label>
  <div class="col-md-2 m-top">
    <input class="form-control" type="text" maxlength="6" size="6" id="size6" value="" />
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <label class="col-md-2 control-label m-top" for="size7">Letra Header:</label>
  <div class="col-md-2 m-top">
    <input class="form-control" type="text" maxlength="6" size="6" id="size7" value="" />
  </div>
  <label class="col-md-2 control-label m-top" for="size8">Letra Span:</label>
  <div class="col-md-2 m-top">
    <input class="form-control" type="text" maxlength="6" size="6" id="size8" value="" />
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row m-bot">
  <div class="col-md-4"></div>
  <label class="col-md-2 control-label m-top" for="size9">Letra Botón:</label>
  <div class="col-md-2 m-top">
    <input class="form-control" type="text" maxlength="6" size="6" id="size9" value="" />
  </div>
  <div class="col-md-4"></div>
</div>

<button id="save" class="btn btn-primary" type="button" name="button">Guardar</button>
<button id="cancel" class="btn btn-default" type="button" name="button">Cancelar</button>
