<div class="col-xs-12 col-sm-8">

    <div id="contenedor" class="jumbotron">
        <h1>Proyecto DAD - 2-2016</h1>
        <p>Proyecto para la materia de Aplicaciones de aplicaciones distribuidas</p>
 <!--        <img src="http://www.imagen.com.mx/assets/img/imagen_share.png" class="img-responsive"> -->
    </div>
    <div class="row">
        <div class="col-sm-6 col-lg-4">
            <h2>Noticia</h2>
            <p>Descripción simple de la noticia. Aquí podrá escribir alguna sinopsis de la noticia que desee, los usuarios se podrán sentir atraidos por este texto</p>
            <p><a class="btn btn-default" href="/noticia">Ver noticia completa »</a></p>
        </div>
        <!--/span-->
        <div class="col-sm-6 col-lg-4">
            <h2>Noticia</h2>
            <p>Descripción simple de la noticia. Aquí podrá escribir alguna sinopsis de la noticia que desee, los usuarios se podrán sentir atraidos por este texto</p>
            <p><a class="btn btn-default" href="/noticia">Ver noticia completa »</a></p>
        </div>
        <!--/span-->
        <div class="col-sm-6 col-lg-4">
            <h2>Noticia</h2>
            <p>Descripción simple de la noticia. Aquí podrá escribir alguna sinopsis de la noticia que desee, los usuarios se podrán sentir atraidos por este texto</p>
            <p><a class="btn btn-default" href="/noticia">Ver noticia completa »</a></p>
        </div>
        <!--/span-->
        <div class="col-sm-6 col-lg-4">
            <h2>Noticia</h2>
            <p>Descripción simple de la noticia. Aquí podrá escribir alguna sinopsis de la noticia que desee, los usuarios se podrán sentir atraidos por este texto</p>
            <p><a class="btn btn-default" href="/noticia">Ver noticia completa »</a></p>
        </div>
        <!--/span-->
        <div class="col-sm-6 col-lg-4">
            <h2>Noticia</h2>
            <p>Descripción simple de la noticia. Aquí podrá escribir alguna sinopsis de la noticia que desee, los usuarios se podrán sentir atraidos por este texto</p>
            <p><a class="btn btn-default" href="/noticia">Ver noticia completa »</a></p>
        </div>
        <!--/span-->
        <div class="col-sm-6 col-lg-4">
            <h2>Noticia</h2>
            <p>Descripción simple de la noticia. Aquí podrá escribir alguna sinopsis de la noticia que desee, los usuarios se podrán sentir atraidos por este texto</p>
            <p><a class="btn btn-default" href="/noticia">Ver noticia completa »</a></p>
        </div>
        <!--/span-->
    </div>
    <!--/row-->
</div>