<div class="col-xs-12 col-sm-12">
    <div id="contenedor" class="jumbotron">
        <form role="form" id="form_1">                                 
            <label>Campo_1</label>
            <input class="form-control" name="Campo_1" id="Campo_1" type="text" required="true" autocomplete="off" value="" /><br>
            <label>Campo_2</label>
            <input class="form-control" name="Campo_2" id="Campo_2" type="text" required="true" autocomplete="off" value=""/><br>
            <label>Campo_3</label>
            <textarea style="resize:vertical;" class="form-control" name="Campo_3" id="Campo_3" autocomplete="off"/></textarea><br>
            <button id="Boton_1" type="sutmit" class="btn btn-primary">
                Boton_1
            </button>
            <button id="Boton_2" type="button" class="btn btn-default">
                Boton_2
            </button> 
        </form>
    </div>
</div>
