<div class="col-sm-6 col-md-2 sidebar-offcanvas" id="sidebarLeft" role="navigation">

    <div id="menu_izquierdo" class="well sidebar-nav">
        <ul class="nav">
            <li>Menú Izquierdo</li>
            <li class="active"><a href="/formulario">Formulario</a></li>
            <li><a href="/formulario">Formulario</a></li>
            <li><a href="/formulario">Formulario</a></li>
            <li><a href="/formulario">Formulario</a></li>
            <li><a href="/formulario">Formulario</a></li>
            <li><a href="/formulario">Formulario</a></li>
            <li><a href="/formulario">Formulario</a></li>
            <li><a href="/formulario">Formulario</a></li>
        </ul>
    </div>
    <!--/.well -->
</div>