<div class="col-sm-6 col-md-2 sidebar-offcanvas" id="sidebarRight" role="navigation">

    <div id="menu_derecho" class="well sidebar-nav">
        <ul class="nav">
            <li>Menú Derecho</li>
            <li class="active"><a href="/formulario">Formulario</a></li>
            <li><a href="/formulario">Formulario</a></li>
            <li><a href="/formulario">Formulario</a></li>
            <li><a href="/formulario">Formulario</a></li>
            <li><a href="/formulario">Formulario</a></li>
            <li>Submenú</li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
        </ul>
    </div>

</div>